<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>카카오 로그인</title>
    <!--kakaoAuth-->
    <!--API_KEY-->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

</head>
<body>
<button id="kAuthTest" onclick="loadScripts('/src/main/web/WEB-INF/resources/common/js/kAuthTest.js')"></button>
    <!--
    <a href="/src/main/web/WEB-INF/resources/common/js/kAuthTest.js"></a>
    -->
    <script src="/src/main/web/WEB-INF/resources/common/js/kAuthTest.js"></script>
    <script>
        function loadScript(url) {
            let script = document.createElement("script");
            script.type = "text/javascript";
            script.src = url;
            document.body.appendChild(script);
        } </script>
</button>
</body>
</html>